ul {
	list-style: none;
}

textarea {
	resize: none;
}

label {
	display: grid;
	position: relative;
	padding: 1rem 0 0;

	span {
		position: absolute;
		background-color: white;
		margin-left: 1rem;
		padding: 0 .5rem;
	}

	textarea, input {
		padding: 1.5rem 1rem 1rem;
	}
}

button, .btn {
	touch-action: manipulation;
	display: grid;
	place-items: center;
}

*:is(button, a, label):has(.icon) {
	padding: 0;
	width: 50px;
	height: 50px;
}

body:has(main.light) *:is(button, a, label):has(.icon) img {
	filter: invert(1);
}