body {
	display: grid;
	gap: 1rem;
}

main {
	display: grid;
	gap: 1rem;
	padding: 2rem;
	justify-items: center;
}

section {
	display: grid;
	gap: 1rem;
}

ul {
	display: grid;
	gap: .5rem;
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	display: grid;
	grid-template-columns: auto 1fr 1fr 2fr;
	gap: 1rem;
}

.song-header {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

@media (min-width: 600px) {
	body {
		grid-template-columns: 300px 1fr;
	}
}