.song-navigation {
	display: grid;
	background: var(--primary);
	height: fit-content;

	button {
		text-align: left;
	}

	hr {
		border: 1px solid var(--secondary);
		margin: 1rem;
	}

	.song-nav-item {
		display: grid;
		grid-template-columns: 1fr auto auto;
		gap: 1rem;

		&:has(h3:not(:empty)) > button:first-of-type {
			display: none;
		}

		h3:empty {
			display: none;
		}
	}
}
