.notification {
	position: fixed;
	top: 1rem;
	right: 1rem;
	max-width: calc(100vw - 2rem);	
	z-index: 1000;
	padding: 1rem 2rem;
	color: white;
	border-radius: 25px;
	transition: right .3s cubic-bezier(0.5, 0, 0.5, 0.1);

	&.off-screen {
		right: -500px;
	}

	&.success {
		background: var(--success);
	}
	
	&.info {
		background: var(--info);
	}
	
	&.warning {
		background: var(--warning);
	}
	
	&.error {
		background: var(--danger);
	}
}

.inline-notification {
	display: flex;
	align-items: center;
	padding: .5rem 0;
	gap: 1rem;
	transition: opacity .3s ease-in-out;

	&.off-screen {
		opacity: 0;
	}

	&.success::before {
		content: '✔';
		color: var(--success);
	}

	&.info::before {
		content: 'ℹ';
		color: var(--info);
	}

	&.warning::before {
		content: '⚠';
		color: var(--warning);
	}

	&.error::before {
		content: '✖';
		color: var(--danger);
	}
}