.sr-only {
	opacity: 0;	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

html:has(.active-loading) * {
	cursor: wait;
}

#bandbook-loading-overlay {
	display: none;
}

body:has(.bandbook-loading) {
	overflow: hidden;
	
	#bandbook-loading-overlay {
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(6px);
		position: absolute;
		display: grid;
		place-items: center;
		width: 100%;
		height: 100%;

		p {
			font-size: 3rem;
		}
	}
}