#workspace {
	width: 100%;
	align-content: flex-start;
	
	.player-wrapper {
		display: grid;
		align-items: center;
		gap: 1rem;
		padding: 1rem 0;
	
		button, .btn {
			min-width: 200px;
			height: 100%;
		}
	}

	.player {
		display: grid;
		align-items: center;
		gap: .5rem 1rem;

		@media screen and (min-width: 800px) {
			min-width: 600px;
		}

		--cursor-color: rgb(0,255,0);
		--played-highlight: rgba(0,255,0,.2);
		--cursor-width: 1px;
		--progress: calc(var(--current-time-ratio, 0) * 100%);

		.top-row, .bottom-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;
		}

		.seeking-wrapper {
			display: flex;
			align-items: center;
			gap: 5px;
			flex-grow: 1;
		}

		div:has(> .waveform) {
			grid-column: -1 / 1;
			background: linear-gradient(to right, var(--played-highlight) calc(var(--progress) - var(--cursor-width)), var(--cursor-color) calc(var(--progress) - var(--cursor-width)), var(--cursor-color) var(--progress), transparent var(--progress));
			position: relative;
			width: 100%;
			#seeking-input {
				position: absolute;
				inset: 0;
				opacity: 0;
			}
		}

		.waveform {
			display: flex;
			height: 100px;
			align-items: center;
			justify-content: space-between;

			.bar {
				height: var(--bar-height);
				background-color: var(--text-neutral);
				width: 1px;
			}
		}

		.skip-button-wrapper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: .5rem;

			button {
				width: 100%;
				display: grid;
				place-items: center;
			}
		}

		button, .btn {
			min-width: 0;
			justify-self: flex-start;
			height: auto;
		}

		a.btn:hover, a.btn:focus {
			text-decoration: none;
		}

		label {
			padding: 0;
		}

		.volume-control, .speed-control {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			grid-column: 1 / -1;

			.mute {
				width: 50px;
				height: 50px;
				display: grid;
				place-items: center;
				cursor: pointer;
				padding: 0;
			}

			.volume-slider-wrapper {
				display: none;
				position: absolute;
				top: -147px;
				writing-mode: vertical-lr;
				transform: rotate(180deg);
			}
		}

		.volume-control:hover .volume-slider-wrapper,
		.volume-control:focus-within .volume-slider-wrapper {
			display: grid;
			width: 50px;
		}
	}
	
	label[for="loop-checkbox"] {
		display: grid;
		gap: 1rem;
		cursor: pointer;
		
		svg {
			width: 50px;
		}
		
		#loop-checkbox {
			display: none;
		}

		&:has(#loop-checkbox:checked) {
			fill: var(--warning);
		}
	}
}

@media screen and (min-width: 800px) {
	#workspace {
		width: fit-content;
	}

	.player-wrapper {
		display: flex;
	}
}

@media screen and (min-width: 900px) {

}