#workspace {
	max-width: 1000px;
	width: 100%;
	align-content: flex-start;
	
	.player-wrapper {
		display: grid;
		align-items: center;
		gap: 1rem;
		padding: 1rem 0;
	
		button, .btn {
			min-width: 200px;
			height: 100%;
		}
	}

	.player {
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		gap: .5rem 1rem;

		@media screen and (min-width: 800px) {
			min-width: 600px;
		}

		button, .btn {
			min-width: 0;
			justify-self: flex-start;
			height: auto;
		}

		a.btn:hover, a.btn:focus {
			text-decoration: none;
		}

		label {
			padding: 0;
		}

		.seeking input {
			width: 100%;
		}

		.volume-control, .speed-control {
			display: flex;
			align-items: center;
			gap: 1rem;
			grid-column: 1 / -1;
		}
	}
	
	.loop-checkbox {
		display: none;
	}
	
	:has(> .loop-checkbox:checked) .loop-proxy {
		background-color: var(--warning);
	}
}

@media screen and (min-width: 800px) {
	#workspace {
		width: fit-content;
	}

	.player-wrapper {
		display: flex;
	}
}

@media screen and (min-width: 900px) {

}