#workspace {
	max-width: 1000px;
	width: 100%;
	align-content: flex-start;
	
	.player-wrapper {
		display: grid;
		align-items: center;
		gap: 1rem;
		padding: 1rem 0;
	
		button {
			min-width: 200px;
			height: 100%;
		}

		audio {
			width: 100%;
		}
	}
	
	.loop-checkbox {
		display: none;
	}
	
	.loop-proxy.active {
		background-color: var(--warning);
	}
}

@media screen and (min-width: 800px) {
	#workspace {
		width: fit-content;
	}

	.player-wrapper {
		display: flex;
	}
}

@media screen and (min-width: 900px) {
	.player-wrapper audio {
		min-width: 600px;
	}
}